@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400&display=swap');

.clock{
  text-align: left;
}

.sidebar{     
    width:100%;
    height:100%;
    background-color:#FF8C00;
    overflow-y: no-scroll;
    text-align: center;
    overflow: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}


.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
-ms-overflow-style: none; 
scrollbar-width: none;  
}

.sidebar > h4 {
  /* padding-top: 20px; */
  text-align: center;
  margin-top: 0vh;
  /* margin-top: 21vh; */
  
  
}

.sidebar > h1 {
    padding-top: 20px;
    text-align: center;
}

.h1_links{
  text-decoration: none;
  font-family: 'Impact', sans-serif;
  color:#000;
  font-size:32px;
}
.sidebar > p {
    margin-top: 30px;
    text-align: center;
}

.sidebar-nav{
    margin-left: -30px;
    margin-top: 50px;
    text-align: center;
}
.sidebar-nav-items{
    margin-bottom: 15px;
}
.sidebar>img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
 
}
.links{
  text-decoration: none;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Comfortaa', cursive;
  /* font-family: 'Impact', sans-serif; */
  color:#000;
  font-weight: bold;
  font-size: larger;
  line-height: 1.4rem;
}
.sidebar-nav-icons{
    margin-bottom: 15px;
}

.flip-card-back{
  margin-top:50px;
}
.fa-lg{
  text-decoration: none;
  color:red;
}

.links:hover{
 /* color:rgb(121, 189, 252); */
 color:rgb(121, 189, 252);
 text-decoration: underline;
}
.fas:hover{
  color:rgb(41, 152, 255);
  text-decoration: underline;
 }
 ul{
   list-style: none;
 }
  .h1_links:hover{
  color: #000;
 }
 /*//////////////media ////////////////////*/
 @media (max-width:980px){
  .sidebar{
    width:106vw;
  }
  .h1_links{
    font-size:29px;
  }
 }


@media (max-width:768px){
  .sidebar{
    width:106px;
  }
  .h1_links{
    font-size:28px;
  }
  .links{
display:none;
  }
  .fas{
    transform: scale(1.3);
    margin:5px 0px;
  }
 .gmail{
  text-decoration: none;
  font-family: 'Impact', sans-serif;
  color:#000;
  font-size:32px;
 }
}
 
@media (max-width:370px){
  .sidebar{
    width:106px;
  }
  .h1_links{
    font-size:24px;
  }
  .links{
    font-size: 16px;
  }
  .fas{
    transform: scale(1.1);
    margin:5px 0px;
  }






}